@model SampleChallenges.Models.QuestionModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>QuestionModel</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.QuesionTopicName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuesionTopicName)
                    @Html.ValidationMessageFor(model => model.QuesionTopicName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.QuestionCategory[0], new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuestionCategory[0])
                    @Html.ValidationMessageFor(model => model.QuestionCategory[0])
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreatedOrModified, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedOrModified)
                    @Html.ValidationMessageFor(model => model.CreatedOrModified)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div class="form-horizontal">
        @{ Html.RenderPartial("~/Views/Question/Partial/_InsertQuestionContent.cshtml",@Model.QuestionContent); }
    </div>
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
